@import "_default.css";

/* Semantic tags */

body {
    height: 100vw;
}

nav {
    display: flex;
    margin: 1rem 2rem 0 2rem;
    align-items: center;
}

footer {
    position: relative;
    bottom: 0;
    border-top: 3px solid #FD8232;
    padding: 1rem;
    width: 100%;
}

/* Navbar CSS */

.nav-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.nav-link {
    font-size: 1.2rem;
}

.nav-link:hover {
    border-bottom: 2px solid #FD8232;
}

/* Nav item selected CSS */

.selected {
    border-bottom: 2px solid #FD8232;
}

/* Unique CSS */

#logo-text {
    font-size: 2rem;
    color: black;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 3px solid #FD8232;
}

#welcome-text {
    font-size: 1.2rem;
    width: 40%;
    text-align: center;
}

#pageSelector {
    display:none;
}

/* Mobile Dropdown CSS */

.dropdown-menu {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Media query for devices with a maximal width of 600px */
@media screen and (max-width: 600px) {
    nav {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        align-content: center;
        gap: 1rem;
        width: 100%;
    }

    #logo-text {
        margin-bottom: 1rem;
    }

    #welcome-text {
        display: none;
    }

    #account-img {
        display: none;
    }
}