/* Mobile */

@media (min-width: 320px) {

    /* Semantic tags */

    h1 {
        margin-bottom: 1rem;
        text-align: center;
    }

    form {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 0.4rem;
    }

    /* Classes */
    .form-container {
        position: absolute;
        left: 50%;
        top: 40%;
        transform: translate(-50%, -50%);
        width: 90%;
        padding: 1rem;
        border-radius: 0.4rem;
        box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.15);
    }

    .input-field {
        font-size: 1rem;
        font-family: "Rubik", 'Sans Serif';
        height: 2.5rem;
        padding: 0.5rem;
        border: 2px solid #FD8232;
        border-radius: 0.2rem;
    }

    .link-container {
        display: flex;
        justify-content: space-between;
    }

    a.link {
        padding: 0.5rem;
        color: dodgerblue;
    }

    .alert-text {
        color: #dc3545;
    }

    /* Unique CSS */

    #submit-button {
        font-size: 2rem;
        font-family: "Rubik", 'Sans Serif';
        border: 2px solid #FD8232;
        border-radius: 0.2rem;
        background-color: #FD8232;
        color: black;
    }

        #submit-button:hover,
        #submit-button:focus {
            transition: 1s;
            background-color: #fd761c;
            cursor: pointer;
        }
}

/* Small tablet */

@media (min-width: 480px) {
    .form-container {
        max-width: 75%;
    }
}

/* Tablet */

@media (min-width: 768px) {
    .form-container {
        max-width: 60%;
    }
}

/* Desktop */

@media (min-width: 1024px) {
    .form-container {
        max-width: 45%;
    }
}

@media (min-width: 1440px) {
    .form-container {
        max-width: 35%;
    }
}
