/* Make page not scrollable */

body {
    overflow: hidden;
}

p {
    text-align: center;
    font-size: 1.5rem;
}

/* Full chat container */

.chat-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    width: 60%;
    height: 75%;
    grid-template-rows: 3rem 1fr 3rem;
    padding: 1rem 2.5rem 2.5rem 2.5rem;
    border-radius: 0.4rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.15);
}

/* Messages container */

.messages-container {
    display: flex;
    padding: 2rem;
    border: 2px solid black;
    border-bottom: none;
    border-radius: 0.2rem 0.2rem 0 0;
    padding: 2rem;
    font-size: 1.2rem;
    overflow: auto
}

    /* Custom scrollbar */

    .messages-container::-webkit-scrollbar {
        width: 20px;
    }

    .messages-container::-webkit-scrollbar-track {
        background-color: transparent;
    }

    .messages-container::-webkit-scrollbar-thumb {
        background-color: #d6dee1;
        border-radius: 20px;
        border: 6px solid transparent;
        background-clip: content-box;
    }

        .messages-container::-webkit-scrollbar-thumb:hover {
            background-color: #a8bbbf;
        }

/* Text field and send button */

.send-container {
    display: grid;
    grid-template-columns: 1fr 10%;
}

#messageInput {
    padding: 0.4rem;
    grid-column: 1;
    font-size: 1.5rem;
    border-radius: 0 0 0 0.2rem;
    border: 2px solid black;
}

    #messageInput:focus {
        outline: none;
    }

#sendButton {
    background-color: #FD8232;
    border-radius: 0.2rem;
    grid-column: 2;
    border-radius: 0 0 0.2rem 0;
    border: 2px solid black;
    border-left-style: none;
}

img {
    width: 50%;
}

/* User sending the messages */

#userInput {
    display: none;
}

/* Footer */

footer {
    position: fixed;
    bottom: 0;
    border-top: 3px solid #FD8232;
    padding: 1rem;
    width: 100%;
}
