@model UserRegister
@{
    Layout = "_LogoAndFooter";
}

<link rel="stylesheet" href="~/css/Account/Login.css" asp-append-version="true" />

<div class="form-container">
    <h1>Login</h1>
    <form novalidate id="login-form" asp-controller="Account" asp-action="Register" method="post">
        <label asp-for="FirstName">Firstname</label>
        <input class="input-field" type="text" asp-for="FirstName" placeholder="Firstname">
        <span asp-validation-for="FirstName"></span>
        <label asp-for="EmailAddress">Email</label>
        <input class="input-field" type="email" asp-for="EmailAddress" placeholder="Email">
        <span asp-validation-for="EmailAddress"></span>
        <label asp-for="Password">Password</label>
        <input class="input-field" type="password" asp-for="Password" placeholder="Password">
        <span asp-validation-for="Password"></span>
        <label asp-for="ConfirmPassword">Confirm Password</label>
        <input class="input-field" type="password" asp-for="ConfirmPassword" placeholder="Confirm Password">
        <span asp-validation-for="ConfirmPassword"></span>
        <button id="submit-button" type="submit">Submit</button>
    </form>
    <div class="link-container">
        <a class="link" asp-controller="Account" asp-action="Login">Already have an account?</a>
    </div>
</div>