@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<link rel="stylesheet" href="~/css/Account/Login.css" asp-append-version="true" />

<div class="form-container">
    <h1>@ViewData["Title"]</h1>
    <form novalidate id="login-form" method="post">
        <div class="alert-text" asp-validation-summary="ModelOnly" role="alert"></div>

        <label asp-for="Input.Email">Email</label>
        <input class="input-field" asp-for="Input.Email" autocomplete="username" aria-required="true" placeholder="name@example.com" />
        <span class="alert-text" asp-validation-for="Input.Email"></span>

        <label asp-for="Input.Password">Password</label>
        <input class="input-field" asp-for="Input.Password" autocomplete="current-password" aria-required="true" placeholder="password" />
        <span class="alert-text" asp-validation-for="Input.Password"></span>

        <label asp-for="Input.RememberMe">
            <input asp-for="Input.RememberMe" />
            @Html.DisplayNameFor(m => m.Input.RememberMe)
        </label>
        <button id="submit-button" type="submit">@ViewData["Title"]</button>
    </form>
    <div class="link-container">
        <a class="link" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Don't have an account?</a>
        <a class="link" asp-page="./ForgotPassword">Forgot password?</a>
        <a class="link" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
