@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<link rel="stylesheet" href="~/css/Account/Register.css" asp-append-version="true" />

<div class="form-container">
    <h1>@ViewData["Title"]</h1>
    <form novalidate id="login-form" method="post">
        <div class="alert-text" asp-validation-summary="ModelOnly" role="alert"></div>

        <label asp-for="Input.Email">Email</label>
        <input class="input-field" asp-for="Input.Email" autocomplete="username" aria-required="true" placeholder="name@example.com" />
        <span class="alert-text" asp-validation-for="Input.Email"></span>

        <label asp-for="Input.Password">Password</label>
        <input class="input-field" asp-for="Input.Password" autocomplete="current-password" aria-required="true" placeholder="password" />
        <span class="alert-text" asp-validation-for="Input.Password"></span>

        <label asp-for="Input.ConfirmPassword">Confirm Password</label>
        <input class="input-field" asp-for="Input.ConfirmPassword" autocomplete="new-password" aria-required="true" placeholder="password" />
        <span class="alert-text" asp-validation-for="Input.ConfirmPassword"></span>

        <button id="submit-button" type="submit">@ViewData["Title"]</button>
    </form>
    <div class="link-container">
        <a class="link" asp-page="./Login">Already have an account?</a>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
