@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Resend email confirmation";
}

<link rel="stylesheet" href="~/css/Account/ResendEmailConfirmation.css" asp-append-version="true" />

<div class="form-container">
    <h1>@ViewData["Title"]</h1>
    <form novalidate method="post">
        <div class="alert-text" asp-validation-summary="ModelOnly" role="alert"></div>

        <label asp-for="Input.Email">Fill in your email</label>
        <input class="input-field" asp-for="Input.Email" autocomplete="username" aria-required="true" placeholder="name@example.com" />
        <span class="alert-text" asp-validation-for="Input.Email"></span>

        <button id="submit-button" type="submit">Reset Password</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}




