@model string
@{
    ViewData["Title"] = "Chat";
}

<link rel="stylesheet" href="/css/Home/Chat.css" asp-append-version="true" />

<div id="userInput">@Model</div>

<div class="chat-container">
    <p>Chatroom</p>

    <div class="messages-container">
        <ul id="messagesList"></ul>
    </div>

    <div class="send-container">
    <input type="text" id="messageInput" />
    <button type="button" id="sendButton"><img src="~/images/send.png"></button>
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>