@model Advert
@{
    ViewData["Title"] = "Create advert";
    ViewData["Page"] = 1;
    Layout = "_LogoAndFooter";
}

<link rel="stylesheet" href="~/css/Home/Create_Advert.css" asp-append-version="true" />

<div class="form-container">
    <h1>@ViewData["Title"]</h1>
    <form novalidate enctype="multipart/form-data" method="post" asp-controller="Home" asp-action="Create_Advert">
        <div class="alert-text" asp-validation-summary="ModelOnly" role="alert"></div>

        <label asp-for="Title">Title</label>
        <input class="input-field" asp-for="Title"/>
        <span class="alert-text" asp-validation-for="Title"></span>

        <label asp-for="Price">Price</label>
        <input class="input-field" asp-for="Price"/>
        <span class="alert-text" asp-validation-for="Price"></span>

        <label asp-for="Description">Description</label>
        <input class="input-field" asp-for="Description" />
        <span class="alert-text" asp-validation-for="Description"></span>

        <span>Select Photo:</span>
        <input id="photo-button" type="file" name="postedFile"/>
        <span class="alert-text" asp-validation-for="Photo"></span>

        <button id="submit-button" type="submit">@ViewData["Title"]</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}