@{
    ViewData["Title"] = "Home Page";
    ViewData["Page"] = 0;
}

<link rel="stylesheet" href="~/css/Home/Index.css" asp-append-version="true" />

<div class="cards-container">
    <div class="card">
        <img src="~/images/p2place_logo.png">
        <div>
            <h4><b>John Doe</b></h4>
            <p>Architect & Engineer</p>
        </div>
    </div>
    <div class="card">
        <img src="~/images/p2place_logo.png">
        <div>
            <h4><b>John Doe</b></h4>
            <p>Architect & Engineer</p>
        </div>
    </div>
    <div class="card">
        <img src="~/images/p2place_logo.png">
        <div>
            <h4><b>John Doe</b></h4>
            <p>Architect & Engineer</p>
        </div>
    </div>
    <div class="card">
        <img src="~/images/p2place_logo.png">
        <div>
            <h4><b>John Doe</b></h4>
            <p>Architect & Engineer</p>
        </div>
    </div>
    <div class="card">
        <img src="~/images/p2place_logo.png">
        <div>
            <h4><b>John Doe</b></h4>
            <p>Architect & Engineer</p>
        </div>
    </div>
    <div class="card">
        <img src="~/images/p2place_logo.png">
        <div>
            <h4><b>John Doe</b></h4>
            <p>Architect & Engineer</p>
        </div>
    </div>
</div>