@{
    ViewData["Title"] = "Home Page";
    ViewData["Page"] = 0;
}

<link rel="stylesheet" href="~/css/Home/Index.css" asp-append-version="true" />

<div class="cards-container">
    <advert-card></advert-card>
    <advert-card></advert-card>
    <advert-card></advert-card>
    <advert-card></advert-card>
</div>

<script src="~/js/CustomElements/AdvertCard.js" asp-append-version="true"></script>